
.container > div{

    border: 1px solid #333;
    

}

.container{
    border: 1px dotted red;
    height: 600px;
    width: 80%;
    margin: auto;


    /* GRID */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;

}


#header{
    grid-column: 1/4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

}

#especial{
    align-self: end;
    justify-self: end;
}

#header div{
    border: 1px dotted red;
    width: 100px;
    height: 100px;
}

#lateral{
    grid-row: 2/4;
    grid-column: 3/4;
}

#footer{
grid-column: 1/3;
}

@media (max-width: 600px){
    .container{
        background-color: aqua;
    }
}